/* You can add global styles to this file, and also import other style files */

/*CRAIG MAKE THIS BETTER AND NOT SOME DUDES THING*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://www.w3schools.com/w3css/4/w3.css");
/* BASIC */

html {
  background-color: #228B22;
}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #228B22;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 10px 10px 10px 10px; 
  /* color: #cccccc; */
  color: black;

}

 #root {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 1rem;
  box-sizing: border-box;
  padding: 6px;
  width: auto;
  height: auto;
  text-align: center;
  background: lightgrey;
  border: 1px solid gray;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
} 

info {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}
/* STRUCTURE */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}